<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Portfolio Details - iPortfolio Bootstrap Template</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    {% include 'style.html' %}

</head>
<body>

<i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

<header id="header">
    <div class="d-flex flex-column">

        <div class="profile">
            <img src="{% static 'img/profile-img.jpg' %}" alt="" class="img-fluid rounded-circle">
            <h1 class="text-light"><a href="{% url 'index' %}">Numonjon Ibrokhimov</a></h1>
            <div class="social-links mt-3 text-center">
                {% for key, value in socials.0.items %}
                    <a href="{{ value }}" class="{{ key }}"><i class="bx bxl-{{ key }}"></i></a>
                {% endfor %}

                {#                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>#}
                {#                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>#}
                {#                <a href="#" class="google-plus"><i class="bx bxl-github"></i></a>#}
                {#                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>#}

            </div>
        </div>

        <nav id="navbar" class="nav-menu navbar">
            <ul>
                <li><a href="{% url 'index' %}" class="nav-link scrollto active"><i class="bx bx-home"></i>
                    <span>Home</span></a>
                </li>
                <li><a href="#about" class="nav-link scrollto"><i class="bx bx-user"></i> <span>About</span></a></li>
                {#                <li><a href="#resume" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>Resume</span></a>#}
                </li>
                <li><a href="#portfolio" class="nav-link scrollto"><i class="bx bx-book-content"></i>
                    <span>Projects</span></a></li>
                {#                <li><a href="#services" class="nav-link scrollto"><i class="bx bx-server"></i> <span>Services</span></a>#}
                </li>
                <li><a href="#contact" class="nav-link scrollto"><i class="bx bx-envelope"></i> <span>Contact</span></a>
                </li>
            </ul>
        </nav>
    </div>
</header>



{% block content %}
{% endblock %}


{% include 'footer.html' %}
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>


{% include 'js.html' %}

</body>

</html>