{% extends 'base.html' %}
{% load static %}
{% block content %}
    <main id="main">

        <section id="breadcrumbs" class="breadcrumbs">
            <div class="container">

                <div class="d-flex justify-content-between align-items-center">
                    <h2>Portfoio Details</h2>
                    <ol>
                        <li><a href="{% url 'index' %}">Home</a></li>
                        <li>Portfoio Details</li>
                    </ol>
                </div>

            </div>
        </section>

        <section id="portfolio-details" class="portfolio-details">
            <div class="container">

                <div class="row gy-4">

                    <div class="col-lg-8">
                        <div class="portfolio-details-slider swiper">
                            <div class="swiper-wrapper align-items-center">
                                {% for photo in project.photos.all %}
                                    <div class="swiper-slide">
                                        <img width="500" height="500" src="{{ photo.image.url }}" alt="">
                                    </div>
                                {% endfor %}

                            </div>
                            <div class="swiper-pagination"></div>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="portfolio-info">
                            <h3>Project information</h3>
                            <ul>
                                <li><strong>Category</strong>: {{ project.category.title }}</li>
                                <li><strong>Client</strong>: {{ project.client }}</li>
                                <li><strong>Project date</strong>: {{ project.project_date }}</li>
                                <li><strong>Project URL</strong>: <a href="{{ project.url }}">{{ project.url }}</a></li>
                            </ul>
                        </div>
                        <div class="portfolio-description">
                            <h2>{{ project.title }}</h2>
                            <p>
                                {{ project.description }}
                            </p>
                        </div>
                    </div>

                </div>

            </div>
        </section><!-- End Portfolio Details Section -->

    </main><!-- End #main -->
{% endblock %}